body {
  background: linear-gradient(45deg, rgb(110, 110, 110), rgb(92, 87, 87));
}

header {
  position: static;
}
main ul{
    width: 800px;
    margin: 0 auto;
}
main li img {
  width: 300px;
  height: 280px;
}
