body {
  font-family: "Quicksand", sans-serif;
}

ul {
  list-style: none;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  position: absolute;
  width: 100%;
  top: 0;
  box-sizing: border-box;
}
header ul {
  display: flex;
  padding: 20px;
}
header li {
  margin-right: 40px;
  margin-left: 20px;
}
header li a {
  text-decoration: none;
  color: rgb(245, 243, 160);
  text-transform: bold;
  font-size: 20px;
}
header li a:hover {
  text-decoration: none;
  color: black;
  background-color: rgb(245, 243, 160);
  padding: 5px 5px;
  border-radius: 15px;
}
#page-logo a {
  text-decoration: none;
  color: rgb(245, 243, 160);
  padding: 10px;
  font-size: 50px;
  font-family: "Oleo Script", sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}
footer {
  background-color: black;
  padding: 1px;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer img {
  width: 50px;
  height: 50px;
  margin: 0, 20px;
}
footer li {
  padding: 0 20px;
}
