body {
    font-family: "Quicksand", sans-serif;
    margin : 0;
}

ul{
    list-style: none;
    width: 250px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}
li{
    margin: 10px;
    width: 100px;
}

#page-logo a {
    text-decoration: none;
    color: rgb(245, 243, 160);
    padding: 10px;
    font-size: 50px;
    font-family: "Oleo Script", sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
}
header{

    margin:auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
