body {
    font-family: "Quicksand", sans-serif;
    margin : 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#page-logo a {
    text-decoration: none;
    color: rgb(245, 243, 160);
    padding: 10px;
    font-size: 50px;
    font-family: "Oleo Script", sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
}
