#upper {
  height: 800px;
  background-image: url(/places/ocean.jpg);
  background-position: center;
  background-size: cover;
}
#centerbox {
  width: 600px;
  padding: 40px;
  border-radius: 25px;
  text-align: center;
  background-color: rgba(39, 35, 35, 0.8);
  box-shadow: 3px 6px 12px rgb(27, 23, 23);
  margin: 0 auto;
  position: relative;
  top: 150px;
}
#centerbox h1 {
  font-size: 60px;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
#centerbox p {
  color: white;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
  font-style: oblique;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#centerbox a {
  color: black;
  background-color: yellow;
  text-decoration: none;
  font-size: 20px;
  border-radius: 8px;
  padding: 8px;
  font-weight: bold;
  box-shadow: 1px 4px 8px rgb(200, 202, 72);
}
#centerbox a:hover {
  background-color: rgb(230, 180, 16);
  box-shadow: 1px 4px 8px rgb(230, 180, 16);
}

#destinations {
  display: flex; /*lista rendezés.. nem tom hogy de vízszintesen*/
  justify-content: center; /*középre a konténert*/
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
}
.destination {
  padding: 10px;
  margin: 0 20px;
  align-items: center;
}

.destination img {
  height: 200px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgb(27, 23, 23);
  object-fit: cover; /*kép automéretezése a konténerbe(fill,contain,cover)*/
}

h2 {
  text-align: center;
  text-transform: uppercase; /*csupa nagybetű*/
  font-size: 40px;
  color: rgb(53, 64, 66);
  margin: 24px 0;
}
p {
  text-align: center;
  font-size: 24px;
}
p b {
  color: rgb(75, 174, 204);
}
#lower {
  background-color: rgb(179, 226, 235);
  padding: 24px 0;
  background: linear-gradient(0deg, rgb(238, 244, 247), rgb(131, 193, 204));
}
